@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
    
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    /* height: 100%; */
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /* overflow-x: hidden; */
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
:root {
	--vh: 1vh;
}
body{
    max-width: 100%;
    width: 100%;
    overscroll-behavior: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    width: 0;
    height: 0;

}
.wrapper{
    width: 100vw;
    min-height: 200vh;
    background-color: #0D0D0D;
    -ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	scrollbar-width: none;
	overflow-x: hidden;
}
.wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.element::-webkit-scrollbar {
	width: 0;
}

.smooth-scroll{
    display: none;
    overflow-y: hidden !important;
}

/* ...............................heder.................... */
#burger-checkbox {
    display: none;
}
header{
    display: flex;
    justify-content: center;
}

header label {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    cursor: pointer;
    z-index: 2;
    transition: all .2s ease-in;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 1000;
}

header label:hover {
    /* background-color: #ddd; */
}

header label span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 35px;
    height: 4px;
    border-radius: 2px;
    background-color: #FCAE00;
    transition: all .3s linear;
    opacity: 1;
}

.body-hidden{
    overflow: hidden;
    height: 100vh;
    position: fixed;
    touch-action: none;
    -ms-touch-action: none;
}

header label span:first-child {
    transform: translate(-50%, -15px) rotate(0deg);
}

header label span:last-child {
    transform: translate(-50%, 10px) rotate(0deg);
}

#burger-checkbox:checked ~ label span:first-child {
    transform: translate(-18px, -2px) rotate(45deg);
}

#burger-checkbox:checked ~ label span:nth-child(2) {
    opacity: 0;
}

#burger-checkbox:checked ~ label span:last-child {
    transform: translate(-18px, -2px) rotate(-45deg);
}

.menu-wrapper {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    background: #181818;
    text-align: center;
    transition: all .5s ease-in-out;
    z-index: 999;
    
}
.menu-container{
    position: relative;
    padding-top: 104px;
    width: 100%;
    height: 100%;
}
.img-menu-fon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/shape5.svg");
    background-position: center center;
    background-size: contain; 
    background-repeat: no-repeat;
    z-index: -1;

}

#burger-checkbox:checked ~ .menu-wrapper {
    left: 0;
}

nav{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav>ul>li{
    margin-bottom: 15px;
}


nav a {
    padding: 14px 20px;
    border-radius: 55px;
    border: 1px solid #515151;
    display:inline-block;
    color: #7C7C7C;
    font-weight: 400;
    font-family: "Phonk Contrast DEMO";
    font-size: 14px;
    line-height: 24px;
    transition: all .2s ease-in-out;
}

nav a:hover {
    color: #fff;
}

/* ..............................................................sections................................ */
.section{
    margin-bottom: 32px;
    border-bottom: 1px solid #515151;
}
.container{
    display: flex;
    justify-content: center;
}
.logotip__container{
    margin-top: 43px;
    margin-bottom: 143px;
}
.logotip__img{
    width: 70vw;
    padding-bottom: 109%;
    background-image: url("../img/logo/Group.png");
    background-position: center center;
    background-size: contain; 
    background-repeat: no-repeat;
    animation: loader-3 1.2s ease-in-out infinite;
}
.logotip__text{
    width: 70vw;
    padding-bottom: 60%;
    background-image: url("../img//logo/Vector\ \(1\).svg");
    background-position: center center;
    background-size: contain; 
    background-repeat: no-repeat;
}
@keyframes loader-3 {
	0%, 100% {
		transform: translateY(-2.6vmin);
	}
	
	44% {
		transform: translateY(2.6vmin);
	}
}
.run-line{
    width: 100%;
    height: 51px;
    padding: 13px 0;
    position: relative;
    background: #282828;
    overflow: hidden;
}
.run-line>.m-forward1{
	width: 606%;
    position: absolute;
    overflow: hidden;
	overflow: hidden;
    -webkit-animation: m-forward1 7s linear infinite;
    animation: m-forward1 7s linear infinite;
}
@-webkit-keyframes m-forward1 {
	0% { left: -303%; }
	100% { left: 0; }
}
@keyframes m-forward1 {
	0% { left: -303%; }
	100% { left: 0; }
}

.run-line>.m-forward1>.marquee-line-forward1{
	float: right;
    width: 50%;
}
.run-line>.m-forward1>.marquee-line-forward1>span{
    color: #A58B53;
}

.run-line>.m-forward1>.marquee-line-forward1>.span1{
    font-family: "Druk Wide Medium";
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-right: 4px;
}
.run-line>.m-forward1>.marquee-line-forward1>.span2{
    font-family: "Inter-BlackItalic";
    font-weight: 800;
    font-size: 17px;
    line-height: 27px;
}
.run-line>.m-forward1>.marquee-line-forward1>.span3{
    font-family: "Druk Wide Medium";
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
.run-line>.m-forward1>.marquee-line-forward1>.span4{
    font-family: "Phonk Contrast DEMO";
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.run-line-disc{
    margin: 0 16px;
}
.run-line-disc:before {
    content: ' \25CF';
    font-size: 16px;
    color: #FCAE00;
}

.section-text__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title{
    font-family: "Phonk Contrast DEMO";
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #FCAE00;
    text-transform: uppercase;
}
.section-title1{
    margin-bottom: 14px;
}
.section-title2{
    margin-bottom: 60px;
}
.section-title3{
    margin-bottom: 24px;
}
.section-text, .section-text a{
    font-family: "Druk Wide Medium";
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #7C7C7C;
}
#section-text1{
    width: 342px;
}
#section-text2{
    width: 314px;
}
#section-text3{
    width: 343px;
}
#section-text4{
    width: 343px;
}
.section-text1{
    margin-bottom: 77px;
}
.section-text2{
    margin-bottom: 32px;
}
.section-text>span{
    color: #FCAE00;
}

.section-img__block{
    position: relative;
    width: 92vw;
    height: 0;
    padding-bottom: 110%;
}
.section-img__block1{
    margin-bottom: 16px;
}
.section-img__block2{
    margin-bottom: 60px;
}
.section-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: contain; 
    background-repeat: no-repeat;
}
.section-img1{
    background-image: url("../img/shape1.svg");
}
.section-img2{
    background-image: url("../img/shape2.svg");
}
.section-img3{
    background-image: url("../img/shape3.svg");
}
.section-img4{
    background-image: url("../img/shape4.svg");
}
.swiper2{
    margin-left: 16px;
    width: calc(100%-16px);
    height: 360px;
    margin-bottom: 36px;
}
.achievements{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 306px;
    height: 360px;
    background: rgba(124, 124, 124, 0.4);
    border-radius: 16px;
    padding: 24px;
    cursor: pointer;
}
.achievements-img__container{
    display: flex;
    justify-content: space-between;
}

.achievements-img{
    background-position: center center;
    background-size: contain; 
    background-repeat: no-repeat;
}
.achievements-img1{
    width: 166px;
    height: 37px;
    background-image: url("../img/achievements/1.svg");
}  
.achievements-img2{
    width: 90px;
    height: 90px;
    background-image: url("../img/achievements/2.svg");
}  
.achievements-img3{
    width: 112px;
    height: 47px;
    background-image: url("../img/achievements/3.svg");
}  
.achievements-img4{
    width: 61px;
    height: 128px;
    background-image: url("../img/achievements/4.svg");
}  
.achievements-img0{
    width: 42px;
    height: 42px;
    background-position: center center;
    background-size: contain; 
    background-repeat: no-repeat;
    background-image: url("../img/achievements/0.svg");
}  
.achievements>.section-text{
    text-align:left;
}
.section-partners{
    padding: 0 16px;
}
.achievements-partners{
    width: 100%;
    margin-bottom: 36px;
}
.phone__container{
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 60px;
}
.feedback__container{
    margin-bottom: 60px;
}


@media only screen and (min-width: 374.95px){
    .run-line>.m-forward1{
        width: 583%;
    }
    @-webkit-keyframes m-forward1 {
        0% { left: -291.5%; }
        100% { left: 0; }
    }
    @keyframes m-forward1 {
        0% { left: -291.5%; }
        100% { left: 0; }
    }
}
@media only screen and (min-width: 389.95px){
    .run-line>.m-forward1{
        width: 558%;
    }
    @-webkit-keyframes m-forward1 {
        0% { left: -279%; }
        100% { left: 0; }
    }
    @keyframes m-forward1 {
        0% { left: -279%; }
        100% { left: 0; }
    }
}
@media only screen and (min-width: 413.95px){
    .run-line>.m-forward1{
        width: 527%;
    }
    @-webkit-keyframes m-forward1 {
        0% { left: -263.5%; }
        100% { left: 0; }
    }
    @keyframes m-forward1 {
        0% { left: -263.5%; }
        100% { left: 0; }
    }
}
@media only screen and (min-width: 427.95px){
    .run-line>.m-forward1{
        width: 508%;
    }
    @-webkit-keyframes m-forward1 {
        0% { left: -254%; }
        100% { left: 0; }
    }
    @keyframes m-forward1 {
        0% { left: -254%; }
        100% { left: 0; }
    }
}

@media only screen and (min-width: 767.95px){
    .wrapper-mobail{
        display: none;
    }
    .smooth-scroll{
        display: block;
    }
    #sectionPin {
        height: 100vh;
        overflow: hidden;
        display: flex;
        left: 0;
   }
    #sectionPin .pin-wrap {
        width: 5039px;
        position: relative;
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #0D0D0D;
        padding: 51px 0;
    }
    .marque__container{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: -1;
    }
    .marque__block{
        width: 100%;
        height: 51px;
        background-color: #282828;
    }
    .run-line{
        width: 100%;
        height: 51px;
        padding: 13px 0;
        position: relative;
        background: #282828;
        overflow: hidden;
    }
    .run-line>.m-forward1{
        width: 215%;
        -webkit-animation: m-forward1 35s linear infinite;
        animation: m-forward1 35s linear infinite;
    }
    @-webkit-keyframes m-forward1 {
        0% { left: -107%; }
        100% { left: 0; }
    }
    @keyframes m-forward1 {
        0% { left: -107%; }
        100% { left: 0; }
    }

    .pin-wrap-num{
        height: 100%;
        border-right: 1px solid #515151;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .pin-wrap1{
        width: 270px;
        padding: 3vh 0;
    }
    .pin-wrap1 > .menu-container{
        padding-top: 0;
        height: auto;
    }
    .pin-wrap1 > .container > .logotip__container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-bottom: 2vh;
    }
    .logotip__img{
        width: 154px;
        height: 168px;
        padding: 0;
        margin-bottom: 30px;
    }
    .logotip__text{
        width: 166px;
        height: 36px;
        padding: 0;
    }
    .pin-wrap1 > .menu-container > nav > ul li{
        text-align: center;
        margin-bottom: 1vh;
    }
    .pin-wrap2{
        width: 456px;
        padding: 6vh 60px 3vh;
    }
    .section-img__block2{
        margin-bottom: 0;
    }
    .pin-wrap3{
        width: 490px;
        padding: 6vh 60px 2vh;
    }
    .pin-wrap4{
        width: 456px;
        padding: 6vh 60px 3vh;
    }
    .pin-wrap5{
        width: 456px;
        padding: 6vh 60px 4.5vh;
   }
   .pin-wrap6{
        width: 1572px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 9vh 60px 24vh;
   }
   .pin-wrap6 > .img-menu-fon{
       top: 3vh;
       height: calc(100% - 3vh);
   }
   .pin-wrap6__container{
       display: flex;
       justify-content: space-between;
   }
   .pin-wrap6__container>.achievements{
        width: 464px;
        height: 326px;
        padding: 30px;
    }
    .achievements-img0{
        width: 62px;
        height: 62px;
    }

    .achievements-img1{
        width: 188px;
        height: 48px;
    }  
    .achievements-img2{
        width: 116px;
        height: 116px;
    }  
    .achievements-img3{
        width: 116px;
        height: 48.99px;
    }  
    .pin-wrap7{
        width: 584px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 9vh 60px 24vh;
    }
    .achievements-partners{
        width: 464px;
        height: 326px;
        margin: 0;
    }
    .achievements-img4{
        width: 61px;
        height: 128px;
    }  
   .pin-wrap8{
       width: 755px;
       border-right: 0px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       padding: 9vh 60px 9vh;
   }
    
}
@media only screen and (min-width: 1359.95px){
    .logotip__img{
        width: 107px;
        height: 116px;
    }
    .logotip__text{
        width: 115px;
        height: 25px;
    }
    .pin-wrap1 > .menu-container > nav > ul li{
        margin-bottom: 1vh;
    }
}
@media only screen and (min-width: 1919.95px){
    #sectionPin .pin-wrap {
        width: 5613px;
    }
    .run-line>.m-forward1{
        width: 193%;
    }
    @-webkit-keyframes m-forward1 {
        0% { left: -96.5%; }
        100% { left: 0; }
    }
    @keyframes m-forward1 {
        0% { left: -96.5%; }
        100% { left: 0; }
    }
    .logotip__img{
        width: 245px;
        height: 267px;
    }
    .logotip__text{
        width: 265px;
        height: 58px;
    }
    .pin-wrap1{
        width: 395px;
        padding-top: 2vh;
        padding-bottom: 6vh;
    }
    .pin-wrap1 > .menu-container > nav > ul li{
        margin-bottom: 1vh;
    }
    nav a{
        font-size: 16px;
        line-height: 26px;
    }
    .section-title{
        font-size: 36px;
        line-height: 46px;
    }
    .section-text{
        font-size: 18px;
        line-height: 28px;
    }
    .pin-wrap2{
        width: 633px;
    }
    #section-text1{
        width: 513px;
    }
    .pin-wrap3{
        width: 633px;
    }
    #section-text2{
        width: 513px;
    }
    .pin-wrap4{
        width: 633px;
    }
    #section-text3{
        width: 513px;
    }
    .pin-wrap5{
        width: 633px;
    }
    #section-text4{
        width: 513px;
    }
    .pin-wrap6{
        width: 1235px;
    }
    .pin-wrap6__container{
        width: 1108px;
        height: 590px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
        margin: 0 auto;
    }
    .pin-wrap6__container>* {
        flex: 1 1 80px;
    }
    .pin-wrap6__container > .achievements{
        width: 571px;
        height: 266px;
    }
    .pin-wrap6__container > .achievements-poker{
        width: 507px;
        height: 590px;
    } 
    .achievements-img2{
        width: 90px;
        height: 90px;
    }  
    .achievements-img3{
        width: 120px;
        height: 60px;
    }
    .pin-wrap7{
        width: 696px;
    }
    .achievements-img4{
        width: 85px;
        height: 178px;
    }
    .achievements-partners{
        width: 569px;
        height: 410px;
    }
    .pin-wrap8{
        width: 755px;
    }
    .pin-wrap8__container > div > .section-text > a{
        font-size: 32px;
        line-height: 42px;
    }
}
@media only screen and (min-width: 2047.95px){
    #sectionPin .pin-wrap {
        width: 6906px;
    }
    .run-line{
        padding: 3px 0;
    }
    .run-line>.m-forward1{
        width: 181%;
    }
    @-webkit-keyframes m-forward1 {
        0% { left: -90.5%; }
        100% { left: 0; }
    }
    @keyframes m-forward1 {
        0% { left: -90.5%; }
        100% { left: 0; }
    }
    .run-line>.m-forward1>.marquee-line-forward1>.span1{
        font-size: 32px;
        line-height: 42px;
    }
    .run-line>.m-forward1>.marquee-line-forward1>.span2{
        font-size: 32px;
        line-height: 27px;
    }
    .run-line>.m-forward1>.marquee-line-forward1>.span3{
        font-size: 32px;
        line-height: 42px;
    }
    .run-line>.m-forward1>.marquee-line-forward1>.span4{
        font-size: 32px;
        line-height: 42px;
    }
    .run-line-disc{
        position: relative;
    }
    .run-line-disc:before {
        position: absolute;
        top: -8px;
        left: -5px;
    }
    .pin-wrap1 > .container > .logotip{
        width: 45%;
        padding: 45%;
        margin-bottom: 1vh;
    }
    .pin-wrap1{
        width: 395px;
        padding-top: 2vh;
        padding-bottom: 3vh;
    }
    .pin-wrap1 > .menu-container > nav > ul li{
        margin-bottom: 2vh;
    }
    nav a{
        font-size: 24px;
        line-height: 26px;
    }
    .section-title{
        font-size: 42px;
        line-height: 52px;
    }
    .section-text{
        font-size: 32px;
        line-height: 42px;
    }
    .pin-wrap2{
        width: 744px;
        padding: 6vh 60px 3vh;
    }
    #section-text1{
        width: 624px;
        margin-bottom: 3vh;
    }
    .pin-wrap3{
        width: 795px;
        padding: 1vh 60px 3vh;
    }
    #section-text2{
        width: 624px;
    }
    .pin-wrap4{
        width: 744px;
    }
    #section-text3{
        width: 624px;
    }
    .pin-wrap5{
        width: 744px;
    }
    #section-text4{
        width: 624px;
    }
    .pin-wrap6{
        width: 1893px;
    }
    .pin-wrap6__container{
        width: 1787px;
        height: 709px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
        margin: 0 auto;
    }
    .pin-wrap6__container>* {
        flex: 1 1 80px;
    }
    .pin-wrap6__container > .achievements{
        width: 977px;
        height: 336px;
    }
    .pin-wrap6__container > .achievements-poker{
        width: 780px;
        height: 709px;
    } 
    .achievements-img0{
        width: 120px;
        height: 120px;
    }  
    .achievements-img1{
        width: 229px;
        height: 59px;
    }  
    .achievements-img2{
        width: 127px;
        height: 127px;
    }  
    .achievements-img3{
        width: 165.75px;
        height: 70px;
    }
    .pin-wrap7{
        width: 836px;
    }
    .achievements-img4{
        width: 85px;
        height: 178px;
    }
    .achievements-partners{
        width: 730px;
        height: 508px;
    }
    .pin-wrap8{
        width: 755px;
        padding: 9vh 60px 20vh;
    }
    .pin-wrap8__container > div > .section-text > a{
        font-size: 32px;
        line-height: 42px;
    }
}
@media only screen and (min-width: 3839.95px){
    #sectionPin .pin-wrap {
        width: 11171px;
        padding: 111px 0;
    }
    .marque__block{
        height: 111px;
        padding: 23px 0;
    }
    .run-line{
        height: 100%;
        padding: 0;
    }
    .run-line>.m-forward1{
        width:246.6%;
        -webkit-animation: m-forward1 60s linear infinite;
        animation: m-forward1 60s linear infinite;
    }
    @-webkit-keyframes m-forward1 {
        0% { left: -123.3%; }
        100% { left: 0; }
    }
    @keyframes m-forward1 {
        0% { left: -123.3%; }
        100% { left: 0; }
    }
    .run-line>.m-forward1>.marquee-line-forward1>.span1{
        font-size: 48px;
        line-height: 58px;
    }
    .run-line>.m-forward1>.marquee-line-forward1>.span2{
        font-size: 48px;
        line-height: 58px;
    }
    .run-line>.m-forward1>.marquee-line-forward1>.span3{
        font-size: 48px;
        line-height: 58px;
    }
    .run-line>.m-forward1>.marquee-line-forward1>.span4{
        font-size: 48px;
        line-height: 58px;
    }
    .run-line-disc:before {
        position: absolute;
        top: -23px;
        left: -10px;
        font-size: 32px;
    }
    .logotip__img{
        width: 377px;
        height: 411px;
        margin-bottom: 70px;
    }
    .logotip__text{
        width: 406px;
        height: 89px;
    }
    .pin-wrap1{
        width: 771px;
        padding-top: 2vh;
        padding-bottom: 3vh;
    }
    .pin-wrap1 > .menu-container > nav > ul li{
        margin-bottom: 2vh;
    }
    nav a{
        border-radius: 70px;
        padding: 20px 30px;
        font-size: 48px;
        line-height: 58px;
    }
    .section-title{
        font-size: 64px;
        line-height: 74px;
    }
    .section-text{
        font-size: 48px;
        line-height: 58px;
    }
    .pin-wrap2{
        width: 1250px;
        padding: 6vh 60px 3vh;
    }
    #section-text1{
        width: 1017px;
        margin-bottom: 3vh;
    }
    .pin-wrap3{
        width: 1257px;
        padding: 1vh 60px 3vh;
    }
    #section-text2{
        width: 1017px;
    }
    .pin-wrap4{
        width: 1257px;
    }
    #section-text3{
        width: 1017px;
    }
    .pin-wrap5{
        width: 1257px;
    }
    #section-text4{
        width: 1017px;
    }
    .pin-wrap6{
        width: 2790px;
        padding: 9vh 60px 16vh;
    }
    .pin-wrap6__container{
        width: 2550.5px;
        height: 1158px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 60px;
        margin: 0 auto;
    }
    .pin-wrap6__container>* {
        flex: 1 1 80px;
    }
    .pin-wrap6__container > .achievements{
        width: 1318px;
        height: 494px;
        padding: 60px;
    }
    .pin-wrap6__container > .achievements-sports{
        height: 604px;
    }
    .pin-wrap6__container > .achievements-poker{
        width: 1172.5px;
        height: 1013px;
        padding: 60px;
        margin-bottom: 110px;
    } 
    .achievements-img0{
        width: 140px;
        height: 140px;
    }  
    .achievements-img1{
        width: 490px;
        height: 114px;
    }  
    .achievements-img2{
        width: 246px;
        height: 246px;
    }  
    .achievements-img3{
        width: 330.5px;
        height: 140px;
    }
    .pin-wrap7{
        width: 1594px;
        padding: 9vh 60px 31vh;
    }
    .achievements-img4{
        width: 173px;
        height: 362px;
    }
    .achievements-partners{
        width: 1354px;
        height: 832px;
        padding: 60px;
    }
    .pin-wrap8{
        width: 995px;
        padding: 9vh 60px 28vh;
    }
    .pin-wrap8__container > div > .section-text > a{
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 1vh;
    }
    .phone__container{
        height: auto;
        margin-bottom: 6vh;
    }
    .feedback__container{
        margin-bottom: 6vh;

    }
}


/*......................................ШРИФТЫ.........................*/
@font-face {
    font-family: "Phonk Contrast DEMO";
    src: url("../fonts/Phonk/Phonk\ Contrast\ DEMO.woff2");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Inter-BlackItalic";
    src: url("../fonts/Inter/Inter-BlackItalic.woff2");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Druk Wide Medium";
    src: url("../fonts/DrukWideMedium/Druk\ Wide\ Medium.woff2");
    font-style: normal;
    font-weight: normal;
}

.bg-background {
    /*   transform: scale(1.6); */
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    /* /////////////////////////////////////////////////////////////////////// */
/* 
    .scroll-text-button {
        width: 64px;
        height: 64px;
        background-image: url("../img/ScrollDown.svg");
        background-size: contain;
        background-position: center;
        -webkit-animation-name: spin;
        -webkit-animation-duration: 5000ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 5000ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: spin;
        -ms-animation-duration: 5000ms;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;
        animation-name: spin;
        animation-duration: 5000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        backface-visibility: hidden;
        transform: translateZ(0);
        image-rendering: -webkit-optimize-contrast;
        will-change: transform;
        image-rendering: pixelated;
    } */

    .section-img2,.section-img1, .section-img4, .img-menu-fon{
        background-position: center;
        -webkit-animation-name: spin;
        -webkit-animation-duration: 20000ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 20000ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: spin;
        -ms-animation-duration: 20000ms;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;
        animation-name: spin;
        animation-duration: 20000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        backface-visibility: hidden;
        transform: translateZ(0);
        image-rendering: -webkit-optimize-contrast;
        will-change: transform;
        image-rendering: pixelated;
    }
    
    @-ms-keyframes spin {
        from {
            -ms-transform: rotate(0deg);
        }
        to {
            -ms-transform: rotate(360deg);
        }
    }
    @-moz-keyframes spin {
        from {
            -moz-transform: rotate(0deg);
        }
        to {
            -moz-transform: rotate(360deg);
        }
    }
    @-webkit-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
        }
    }
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }



    /* ........................................................................................................................................ */
    .shine, .chrome {
        font-size: 3em;
        margin: 0 auto;
        margin-bottom: 1em;
        font-weight: bold;
   }
    .shine {
        background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
        -webkit-background-size: 150px;
        color: rgba(255, 255, 255, 0.3);
        -webkit-background-clip: text;
        -webkit-animation-name: shine;
        -webkit-animation-duration: 5s;
        -webkit-animation-iteration-count: infinite;
        text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
   }
    .chrome {
        background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
        background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
        -webkit-background-size: 200px;
        color: rgba(255, 255, 255, 0.3);
        -webkit-background-clip: text;
        -webkit-animation-name: shine;
        -webkit-animation-duration: 5s;
        -webkit-animation-iteration-count: infinite;
        text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
   }
    @-webkit-keyframes shine {
        0%, 10% {
            background-position: -1000px;
       }
        20% {
            background-position: top left;
       }
        90% {
            background-position: top right;
       }
        100% {
            background-position: 1000px;
       }
   }
    