@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
    
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    /* height: 100%; */
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /* overflow-x: hidden; */
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*----------------------------------------------------------------------------------------------------*/
:root {
	--vh: 1vh;
}
.wrapper{
    width: 100vw;
    min-height: 200vh;
    background-color: #0D0D0D;
}

/* ...............................heder.................... */
#burger-checkbox {
    display: none;
}
header{
    display: flex;
    justify-content: center;
}

header label {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    cursor: pointer;
    z-index: 2;
    transition: all .2s ease-in;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header label:hover {
    /* background-color: #ddd; */
}

header label span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 35px;
    height: 4px;
    border-radius: 2px;
    background-color: #FCAE00;
    transition: all .3s linear;
    opacity: 1;
}

.body-hidden{
    overflow: hidden;
    height: 100vh;
    position: fixed;
    touch-action: none;
    -ms-touch-action: none;
}

header label span:first-child {
    transform: translate(-50%, -15px) rotate(0deg);
}

header label span:last-child {
    transform: translate(-50%, 10px) rotate(0deg);
}

#burger-checkbox:checked ~ label span:first-child {
    transform: translate(-18px, -2px) rotate(45deg);
}

#burger-checkbox:checked ~ label span:nth-child(2) {
    opacity: 0;
}

#burger-checkbox:checked ~ label span:last-child {
    transform: translate(-18px, -2px) rotate(-45deg);
}

.menu-wrapper {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    background: #181818;
    text-align: center;
    transition: all .5s ease-in-out;
    
}
.menu-container{
    position: relative;
    padding-top: 104px;
    width: 100%;
    height: 100%;
}
.img-menu-fon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/shape5.svg");
    background-position: center center;
    background-size: contain; 
    background-repeat: no-repeat;
    z-index: -1;

}

#burger-checkbox:checked ~ .menu-wrapper {
    left: 0;
}

nav{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav>ul>li{
    margin-bottom: 15px;
}


nav a {
    padding: 14px 20px;
    border-radius: 55px;
    border: 1px solid #515151;
    display:inline-block;
    color: #7C7C7C;
    font-weight: 400;
    font-family: "Phonk Contrast DEMO";
    font-size: 14px;
    line-height: 24px;
    transition: all .2s ease-in-out;
}

nav a:hover {
    color: #fff;
}

/* ..............................................................sections................................ */
.section{
    margin-bottom: 32px;
    border-bottom: 1px solid #515151;
}
.container{
    display: flex;
    justify-content: center;
}
.logotip{
    margin-top: 178px;
    margin-bottom: 143px;
    width: 60vw;
    height: 0;
    padding-bottom: 60%;
    background-image: url("../img/big-logo.png");
    background-position: center center;
    background-size: contain; 
    background-repeat: no-repeat;
}
.run-line{
    width: 100%;
    height: 51px;
    padding: 13px 0;
    position: relative;
    background: #282828;
    overflow: hidden;
}
.run-line>.m-forward1{
	width: 500%;
    position: absolute;
    overflow: hidden;
	overflow: hidden;
    -webkit-animation: m-forward1 17s linear infinite;
    animation: m-forward1 17s linear infinite;
}
@-webkit-keyframes m-forward1 {
	0% { left: -250%; }
	100% { left: 0; }
}
@keyframes m-forward1 {
	0% { left: -250%; }
	100% { left: 0; }
}

.run-line>.m-forward1>.marquee-line-forward1{
	float: right;
    width: 50%;
}
.run-line>.m-forward1>.marquee-line-forward1>span{
    color: #A58B53;
}

.run-line>.m-forward1>.marquee-line-forward1>.span1{
    font-family: "Druk Wide Medium";
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-right: 4px;
}
.run-line>.m-forward1>.marquee-line-forward1>.span2{
    font-family: "Inter-BlackItalic";
    font-weight: 800;
    font-size: 17px;
    line-height: 27px;
}
.run-line>.m-forward1>.marquee-line-forward1>.span3{
    font-family: "Druk Wide Medium";
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
.run-line>.m-forward1>.marquee-line-forward1>.span4{
    font-family: "Phonk Contrast DEMO";
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.run-line-disc{
    margin: 0 16px;
}
.run-line-disc:before {
    content: ' \25CF';
    font-size: 16px;
    color: #FCAE00;
}

.section-title{
    font-family: "Phonk Contrast DEMO";
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 14px;
    color: #FCAE00;
}
.section-text{
    font-family: "Druk Wide Medium";
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #7C7C7C;
    margin-bottom: 77px;
}
.section-text>span{
    color: #FCAE00;
}
    

/*......................................ШРИФТЫ.........................*/
@font-face {
    font-family: "Phonk Contrast DEMO";
    src: url("../fonts/Phonk/Phonk\ Contrast\ DEMO.woff2");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Inter-BlackItalic";
    src: url("../fonts/Inter/Inter-BlackItalic.woff2");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Druk Wide Medium";
    src: url("../fonts/DrukWideMedium/Druk\ Wide\ Medium.woff2");
    font-style: normal;
    font-weight: normal;
}